<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginAndLogout">
  <test thread-count="5" name="Test">
    <classes>
      <class name="homePageTestCases.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- LoginAndLogout -->
